<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom musique en tapant</label>
        <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
        </div>
        </form>
    <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom musique</label>
        <input type="text" class="form-control" [(ngModel)]="nommusique" name="nommusique" class="form-control">
        <button type="submit" (click)="recherchermusiqs()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        </div>
        </form> -->


        <!-- <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom musique en tapant</label>
            <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
            </div>
            </form> -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Date Création</th><th>style</th> 


                    </tr>
                </thead>
                <tbody *ngFor="let musique of musiques | filter:searchTerm ">
                    <tr>
                        <td>{{musique.idmusique}}</td>
                        <td>{{musique.nommusique}}</td>
                        <td>{{musique.prixmusique}}</td>
                        <td>{{musique.dateCreation | date:'dd/MM/yyyy'}}</td>
                        <td>{{musique.style.nomst}}</td> 
                        <!-- <td><a class="btn btn-danger" (click)="supprimermusique(musique)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updatemusique',musique.idmusique]">Modifier</a></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>